doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        .container
            .graphic-element
                .graphic-element__left
                img(src="./img/prod_grapgic_element.png", alt="")
                .graphic-element__right
        .container 
            .attractions 
                .attractions__block 
                    img(src="./img/prod_attractions 1.png", alt="")
                    img(src="./img/prod_attractions 2.png", alt="")
                    img(src="./img/prod_attractions 3.png", alt="")
                    img(src="./img/prod_attractions 4.png", alt="")
                    img(src="./img/prod_attractions 5.png", alt="")
                    img(src="./img/prod_attractions 6.png", alt="")
        .container
            .graphic-element
                .graphic-element__left
                img(src="./img/prod_grapgic_element.png", alt="")
                .graphic-element__right
        .container 
            .enterprises
                p На территории Давыдовского промышленного комплекса (ул. Заводская, 21) функционируют:
                p Промышленная зона деревни Давыдово. Комплекс «Логопром Давыдово».
                ul 
                    li ООО «Давыдово-Менеджмент» (имущественный комплекс Логопром Давыдово),
                    li ООО «Мишлен. Русская Компания по производству шин» (автомобильные шины); Франция,
                    li ООО «Тегола Руфинг Продактс» (гибкая черепица на битумной основе); Италия,
                    li ЗАО «Акватекс-Пласт» (аренда научного и промышленного оборудования, производство изделий из пластмассы),
                    li ЗАО «Акватекс-Форм» (производство пластмассовых плит, труб для канализации, полос, различных ёмкостей, бордюры для дорожных служб и др.),
                    li МУП «Теплосеть» (производство, передача пара и горячей воды),
                    li ООО «Акватон Рус» (мебель для ванных комнат),
                    li ООО «Импульс-Норд»,
                    li ООО «Импульс-Пласт» (производство полиэтиленовых ёмкостей и полипропиленовых труб и фитингов для отопления, водоснабжения и внутренней канализации под торговой маркой «Aquatech»),
                    li ООО «Марп» (ремонт и мойка машин),Швейный цех.
                    li ООО «Меткер» (металлообработка),
                    li ООО «Тема-Норд» (производство гидроизоляционных материалов),
                    li ООО «Колумб» (столярные изделия),
                    li ООО «Унисон-М» (подготовка готовых дверей к продаже),
                    li ООО «Давыдово-Сервис» (автозаправочная деятельность),
                    li ООО «Инструментальщик» (производство металлических изделий),
                    li ЗАО «Автоспецмаш» (ремонт автотехники),
                    li ИП Волчков Ю. С. (торговля),
                    li МУП КВП, (услуги по водоснабжению и водоотведение для потребителей Орехово-Зуевского муниципального района. На промплощадке д. Давыдово находится гараж для спецтехники),
                    li ОАО «СПК Гора» (завод комбикормов),Свиноводческое производство.
                    li ООО «Сатурн Сервис»
                    li бывший СМУ-6
        include modules/footer